body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8D2C2; /* Use your color palette */
}

.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #D66978; /* Use your color palette */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* Use your color palette */
}

.title {
    text-align: center;
    color: #D66978; /* Use your color palette */
}

.input-container {
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #D66978; /* Use your color palette */
    border-radius: 5px;
    outline: none; /* Remove outline */
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.remove-button,
.upgrade-button,
.create-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Add transition effect */
}

.remove-button {
    background-color: #ea6460; /* Use your color palette */
    color: #ffffff; /* Use your color palette */
}

.upgrade-button {
    background-color: #427e40; /* Use your color palette */
    color: #ffffff; /* Use your color palette */
}

.create-button {
    background-color: #f09598; /* Use your color palette */
    color: #ffffff; /* Use your color palette */
}

.create-button:hover,
.remove-button:hover,
.upgrade-button:hover {
    background-color: #A14258; /* Use your color palette */
}


