@import "default.css";

/* Navbar */
@import "navbar.css";

/* Body Styles */
body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

/* Container Styles */
.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form Group Styles */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--primary); /* Match label color to primary color */
}

.form-group input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none; /* Remove outline on focus */
}

/* Button Styles */
.button {
    padding: 10px 20px;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.button:hover {
    background-color: var(--secondary);
}

/* Cancel Button */
.cancel-button {
    background-color: var(--extra1);
}

.cancel-button:hover {
    background-color: var(--extra2);
}
