@import "default.css";
@import "navbar.css";

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--secondary);
}

header {
    background-color: var(--extra2);
    color: #fff;
    text-align: center;
    padding: 20px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.feature {
    width: 45%;
    background-color: var(--extra1);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    text-decoration: none;
    color: var(--secondary);
}

.feature:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: var(--extra2);
    color: #fff;
    text-align: center;
    padding: 20px;
}
