@import "default.css";
@import "navbar.css";

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

.container {
    width: 80%;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: var(--extra1);
}

tr:nth-child(even) {
    background-color: antiquewhite;
}

tr:hover {
    background-color: #ddd;
}