@import "navbar.css";

:root {
    --background: #F8D2C2;
    --primary: #D66978;
    --secondary: #430F1B;
    --extra1: #FCA6A9;
    --extra2: #A14258;
}

body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column; 
    gap: 25px; 
    margin-bottom: 25px;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}
h1 {
    text-align: center;
    color: var(--primary);
}

form {
    display: flex;
    flex-direction: column;
}


label {
    margin-top: 10px;
    color: var(--primary);
}

input, select, textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: 5px;
}

button {
    background-color: var(--primary);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-button {
    align-self: flex-end; 
    background-color: transparent; 
    color: var(--secondary);
    border: 1px solid var(--primary);
    margin-left: 10px; 
}

button:hover {
    background-color: var(--extra1);
}

.remove-attribute {
    background-color: #A14258;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
