body {
    font-family: Arial, sans-serif;
    background-color: #F8D2C2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #D66978; /* Use your color palette */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* Use your color palette */

}
.title {
    text-align: center;
}

h1 {
    color: #430F1B;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #020202; /* Border around the table */
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #430F1B;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #FCA6A9;
}

tbody tr:hover {
    background-color: #ddd;
}
.back-btn {
    background-color: #A14258; /* Change color as needed */
    color: #f8f3f3; /* Change color as needed */
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
}

.back-btn:hover {
    background-color: #c87979;
}

