@import "navbar.css";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8D2C2; 
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #430F1B;
}

.ticket-cards {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    flex-wrap: wrap;
}

.ticket-card {
    flex: 0 1 calc(30% - 20px); 
    margin-bottom: 20px; 
    padding: 20px;
    background-color: #FCA6A9;
    border-radius: 10px;
    text-align: left;
    text-decoration: none;
    color: #430F1B;
    transition: background-color 0.3s ease;
    border: 2px solid #000; 
    box-sizing: border-box; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}


.ticket-card:hover {
    background-color: #D66978; 
}

.ticket-card p {
    margin: 0;
    margin-bottom: 10px;
}

.create-ticket-button {
    display: block;
    margin-top: 30px;
    padding: 15px 30px;
    background-color: #D66978;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-ticket-button:hover {
    background-color: #FCA6A9; 
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333; 
}

.search-bar {
    margin-bottom: 20px;
    text-align: center;
}

.search-bar input[type="text"] {
    padding: 8px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc; 
    margin-right: 10px;
}

.search-bar button {
    padding: 8px 16px;
    background-color: #D66978; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #FCA6A9; 
}
