body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8D2C2; /* Light Coral */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #430F1B; /* Maroon */
}

.ticket-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.ticket-card {
    flex: 0 1 calc(30% - 20px); /* Adjusted width to accommodate margin */
    margin-bottom: 20px; /* Added margin between ticket blocks */
    padding: 20px;
    background-color: #FCA6A9; /* Light Coral */
    border-radius: 10px;
    text-align: left;
    text-decoration: none;
    color: #430F1B;
    transition: background-color 0.3s ease;
}


.ticket-card:hover {
    background-color: #D66978; /* Light Maroon */
}

.ticket-card p {
    margin: 0;
    margin-bottom: 10px;
}

.create-ticket-button {
    display: block;
    margin-top: 30px;
    padding: 15px 30px;
    background-color: #D66978; /* Light Maroon */
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-ticket-button:hover {
    background-color: #FCA6A9; /* Light Coral */
}
