@import "navbar.css";

:root {
    --background: #F8D2C2;
    --primary: #D66978;
    --secondary: #430F1B;
    --extra1: #FCA6A9;
    --extra2: #A14258;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

header {
    background-color: var(--secondary);
    color: white;
    padding: 20px;
    text-align: center;
}

/* wishlist styling */ 

.wishlist-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--extra1);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.wishlist-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: var(--background);
    position: relative;
}
.wishlist-item h3 {
    margin-top: 0;
}

.wishlist-item button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--extra2);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
